<!doctype html>
<html lang="ru">
<head><meta charset="utf-8"><title>Отчёт по топливу</title></head>
<body><main><h1>Отчёт по топливу</h1>{% include '../../_provenance.html.j2' %}</main></body>
</html>
